<div id="storylytics-editor" class="container mousetrap" contenteditable="true">
</div>

<script id="visualization-template" type="text/template">
	<div>
		<div class="storylytics-element storylytics-visualization" contenteditable="true" id="<%%= identifier %>">
			<div class="visualization-preview">
			</div>
		</div>
	</div>
</script>

<script>

domready(function() {

	// Initialize the new worksheet
	worksheet = new Worksheet({
		'id': '<%= params[:id] %>'
	});

	// Initialize our worksheet view area
	worksheetView = new WorksheetView({
		model: worksheet
	});

	// Initialize the worksheet toolbar
	worksheetToolbarView = new WorksheetToolbarView();

	// Initialize the footer view
	footerView = new FooterView();

});

</script>
