<div class="container">
	<div id="edit">
		<h3>Edit Worksheet</h3>
		<%= link_to image_tag("buttons/newvis.png", {:id=> "create-visualization", :class => "img-rounded"}), {controller: 'visualization', action: 'create', worksheet: params[:id]} %>
	</div>
</div>