<div class="container">

	<% @worksheet.visualizations.each do |visualization| %>
		<iframe src="/visualization/<%= visualization.identifier %>" width="800px" height="500px"></iframe> 
	<% end %>

</div>