<div class="container" style="margin: 40px auto;">
	<div class="row">
		<div class="col-xs-4">
			<%= form_tag({:action => 'create'}, {:class => 'form-horizontal', :multipart => true}) do %>
				<div class="form-group">
					<label for="name" class="col-sm-3 control-label">Name</label>
					<div class="col-sm-9">
		    		<input name="name" type="string" required="required" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label for="name" class="col-sm-3 control-label">CSV File</label>
					<div class="col-sm-9">
						<%= file_field_tag 'csv' %>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-9">
						<button type="submit" class="btn btn-default">Verify</button>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>