<div class="container">
	<h3>Datasets</h3>
	<table class="table">
		<% @datasets.each do |dataset| %>
		<tr>
			<td><%= dataset[:name] %></td>
			<td><%= dataset.datadocs.count %></td>
			<td><a href="/api/<%= dataset[:base_url] %>">View</a></td>
		</tr>
		<% end %>
	</table>
</div>