<div class="container">
	<h3>Collections</h3>
	<table class="table">
		<% @collections.each do |collection| %>
		<tr>
			<td><%= collection.name %></td>
			<td><a href="/api/<%= collection.base_url %>">View</a></td>
		</tr>
		<% end %>
	</table>
</div>