<div id="landing">
	<div class="container">
		<h1>Unlock your data</h1>
		<h3>Uncover insights through powerful visualizations</h3>
	</div>
</div>
<div id="team">
	<div class="container">
		<h3>Meet the Team</h3>
		<div id="members" class="row">
			<div class="col-xs-3">
				Eri Gamo
			</div>
			<div class="col-xs-3">
				Truman Cranor
			</div>
			<div class="col-xs-3">
				Tiffany Dharma
			</div>
			<div class="col-xs-3">
				Roger Chen
			</div>
		</div>
	</div>
</div>
<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-2">
				Stuff
			</div>
			<div class="col-xs-2">
				More stuff
			</div>
		</div>
	</div>
</div>