<div id="landing">
	<div class="container">
		<h1>Unlock your data</h1>
		<h3>Discover insights through powerful visualizations</h3>
		<button type="button" class="btn btn-primary btn-lg">Get Started</button>
	</div>
</div>
<div id="introduction">
	<div class="container">
		<div class="row">
			<div class="col-xs-6">
				More stuff
			</div>
			<div class="col-xs-6">

			</div>
		</div>
	</div>
</div>
<div id="tools">
	<div class="container">
		<div class="row">
			<div class="col-xs-6">

			</div>
			<div class="col-xs-6">
				Stuff
			</div>
		</div>
	</div>
</div>
<div id="team">
	<div class="container">
		<h3>Meet the Team</h3>
		<div id="members" class="row">
			<div class="col-xs-3">
				Eri Gamo
			</div>
			<div class="col-xs-3">
				Truman Cranor
			</div>
			<div class="col-xs-3">
				Tiffany Dharma
			</div>
			<div class="col-xs-3">
				Roger Chen
			</div>
		</div>
	</div>
</div>
<div id="footer">
	<div class="container">
		<p class="text-center">
			<a href="http://cs210compuverde.tumblr.com/">Blog</a> | <a href="https://github.com/rcchen/cs210-stockholm">Github</a>
		</p>
		<p class="text-center">
			Built with &#9829; in Palo Alto
		</p>
	</div>
</div>