<div class="container">
	<%= form_tag({action: :verify}, multipart: true) do %>
		<%= text_field_tag 'name' %>
		<%= file_field_tag 'csv' %>
		<%= submit_tag("Verify") %>
	<% end %>
</div>
<script type="text/javascript">
	$(function() {
		// Get the app name
		window.router = new Cs210Stockholm.Routers.ParserRouter();
		Backbone.history.start();
	});
</script>