<div class="container">

<h4><strong>Success!</strong> The details of your import are as follows</h4>
<div class="detail"><strong>Class name:</strong> <%= @collection.name %></div>
<div class="detail"><strong>Endpoint:</strong> <a href="/api/<%= @collection.base_url %>">/api/<%= @collection.base_url %></a></div>

</div>