// import the CSS framework
@import "bootstrap";

html, body { height: 100%; }

$asbestos: #7F8C8D;
$midnight-blue: #2C3E50;
$wet-asphalt: #34495E;
$white: #FFFFFF;

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 60px;
  padding-bottom: 60px;
  min-height: 100%; 
  height: auto !important;
  height: 100%;
  margin: 0px auto -20px;
  }
section {
  @extend .row;
  margin-top: 20px;
  }

footer {
  background-color: $midnight-blue;
  color: $asbestos;
  padding: 10px 0px;
  height: 80px;
  ul {
    li {
      padding: 0px 20px;
    }
  }
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}