// Place all the styles related to the worksheet controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#create {
	margin: 30px auto;
}

#edit {
	margin: 30px 0px;
}

#create-visualization {
	width: 200px;
	height: 150px;
}

iframe {
	margin-bottom: 30px;
}

/* THESE STYLES ARE ASSOCIATED WITH THE EDITOR */

body {
	height: 100%;
}

#workspace {
	width: 100%;
	height: 100%;
}

#sidebar {
	position: fixed;
	top: 0px;
	left: 0px;
	vertical-align: top;
	width: 90px;
	background-color: #CBE86B;
	text-align: center;
	height: 100%;
	float: left;
}

#worksheet {
	
	position: relative;
	background-color: white;
	padding: 40px 10px;
	margin-left: 90px;
	margin-right: 280px;

}

#page-container {
	width: 940px;
	background-color: white;
	margin: 0 auto;
	height: 800px;
}

#insert {
}

.visualization {
	border: 1px solid #CCC;
}

.selected {
	border: 1px solid #69927F;
}

#rightbar {

	float: right;
	position: fixed;
	top: 0px;
	right: 0px;
	vertical-align: top;
	width: 280px;
	background-color: #FFF;
	z-index: 999;

	.options-header {
		background-color: #B0A9AE;
		color: #FFF;
		font-weight: 300;
		padding: 8px 10px;
	}

	.options-panel {
		background-color: #F5F2FC;
		color: #000;
		padding-bottom: 10px;
		display: none;
	}

	.option {
		padding: 8px 0px;
	}

	.option-label {
		display: inline-block;
		width: 60px;
		text-align: right;
		vertical-align: top;
		margin-left: 10px;
	}

	.option-value {
		display: inline-block;
		margin-left: 10px;
		width: 180px;
	}

}



input {
	&[type="text"] {
		border: 1px solid #CCC;
		padding: 2px 5px;
		width: 100%;
		box-sizing: border-box;
	}
}

select {
	width: 100%;
}

textarea {
	width: 100%;
}

.bootstrap-tagsinput {
	input {
		border: none;
		padding: none;
	}
}
